%grid {
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}

%inside_grid{
  border: 1px solid black;
  padding: 5px;
}

table , .container{
    @extend %grid;
}


th, td {
    @extend %inside_grid
}

th {
    background-color: lightgray;
}


@media print {
         .screen_only{
             display: none;
         }
     }

.m_heading, .m_message{
  text-align: center;
}
